@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:wght@200&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Inter:wght@100&family=Montserrat:wght@200&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Inter:wght@100&family=Licorice&family=Montserrat:wght@200&family=Roboto:wght@300;400;700&display=swap');
:root{
    --verde: #7d7c5a;
    --gris: #ffffff80;
    --negro: #e2e0c4;
    --violet: #984D77;
    --rosa: #D8BAC5;
    --green: rgb(223, 230, 215);
}

/*@media (max-width: 576px){
    .contenedor1.contenedor1.h2{
        font-size: 5px;
        /*font-family: 'Inspiration', cursive;*/  
    /*}
    .contenedor .h2{
        font-size: 5px;
    }
    .contenedor1 {
        width: 300px;
        height: 70%;
        margin-left: 25%;
        margin-top: 150px;
        position: absolute;
        background-color: #F5F5F5;
        border-radius: 15px;
        align-items: center;
        justify-content:center;
    }
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}


.contenedor{
    width: 100%;
    height: 600px;
    margin: auto;
    background-image: url(../img/a3\ -\ copia.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content:center;

}
h2{
    font-size: 90px;
    /*font-family: 'Inspiration', cursive;*/
    font-family: 'Licorice', cursive;
    text-align: center;
    padding-top: 60px;
}
h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
    padding-top: 30px;
    letter-spacing: 3px;
}
h5{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
    padding-top: 30px;
    color: white;
}
p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
    padding-top: 30px;
    line-height: 30px;
}
h3{
    font-size: 25px;
    font-weight:900;
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
    padding-top: 30px;
    color: #984D77;
    font-weight:900;
}
.contenedor1 {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 150px;
    position: absolute;
    background-color: #F5F5F5;
    border-radius: 20px;
    align-items: center;
    justify-content:center;
}
.fondo{
    width: auto;
    height: 600px;
    margin: auto;
    padding: 60px 0;
    /*background-image: url(/img/a7.jpeg);*/
    background: linear-gradient(to right, #96c8db70, #b6e9da74), url(../img/a4.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content:center;
}
.contenedor2 {
    width: 100%;
    height: 500PX;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-size: 100%;
    background-attachment: fixed;
    
}

.contenedor3 {
    width: 100%;
    height: 600PX;
    padding: 100px 0;
    margin: auto;
    background-color:var(--green);
    align-items: center;
    justify-content:center;
    text-align: center;

}
.contenedor4 {
    width: 100%;
    height: 400PX;
    padding: 80px 0;
    margin: auto;
    background-color: white;
    align-items: center;
    justify-content:center;
    text-align: center;

}
.contenedor5 {
    width: 100%;
    height: 580px;
    padding: 200px 0;
    /*background-image: url(/img/WhatsApp\ Image\ 2022-06-15\ at\ 11.48.05\ AM.jpeg);*/
    /*background-size: 100%;*/
    /*background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 
    #d8bac56e, #d8bac56e
    #11435770, #f2949274*/
background: linear-gradient(to right, #11435770, #f2949274), url(../img/a5.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-position: top center;
/*background-attachment: fixed;*/
}
.contenedor6 {
    width: 100%;
    height: 400PX;
    padding: 90px 0;
    margin: auto;
    background-color:var(--green);
    align-items: center;
    justify-content:center;
    text-align: center;

}
.box1 {
    background-color: #fff;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 20px;
}
.box2 {
    background-color: #fff;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 20px;
}
.fcc-btn {
    background-color: var(--violet);
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    justify-content: center;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.fcc-btn1 {
    background-color: var(--violet);
    color: white;
    padding: 15px 70px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    justify-content: center;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.container{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--green);
}
.countdown{
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: nowrap;
    flex-direction: row;
}
.countdown div{
    display: grid;
    place-items: center;
    padding: 10px;
    margin-right: 5%;
}

h4{
    display: grid;
    place-items: center;
    border: solid 1px #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: rgb(54, 50, 50);
    font-size: 2rem;
    font-weight: bold;
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}
span{
    display: block;
    padding: 10px;
    text-align: center;
    color: rgb(54, 50, 50);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
h6{
    font-size: 40px;
    /*font-family: 'Inspiration', cursive;*/
    font-family: 'Licorice', cursive;
    text-align: center;
    
}
/*.modal-container{
    display: flex;
    background-color: rgb(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    
}
.modal{
background-color: #D8BAC5;
width: 600px;
padding: 50px 100px;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0,0,0,0.3);
line-height: 15px;
align-items: center;
justify-content:center;
text-align: center;
transition: transform 1s;
transform:translateY(0%);
}/*
/*:::Boton-Modal:::*/
.boton-modal{
    padding: 40px;
    background-color: #fff;
}
.boton-modal label{
    cursor: pointer;
    transition: all 300ms ease;
    background-color: var(--violet);
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border: none;
    justify-content: center;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(223, 230, 215, 0.8);
    background-color: var(--green);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}
.content-modal p{
    padding: 15px 0px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.content-modal .btn-cerrar label{
    background-color: var(--violet);
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border: none;
    justify-content: center;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal{
        width: 80%;
        font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    }
}
/*:::Fin Ventana Modal:::*/
